{#
/**
 * @file
 * Theme override to display a node.
 *
 * 
 */
#}
{% set bodytext = content.body|render|striptags %}
{# Text lenght variable #}
{% set textlenght = 200 %}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}

    <div class="service__icon">
      {{ content.field_services_pictogram }}
    </div>
    <div class="service__title">
      {{ label }}
    </div>
    <div class="service__body">
      {{ bodytext|length > textlenght ? bodytext|slice(0, textlenght) ~ '...' : bodytext }}
    </div>
    {# this to show the read more link must be translatable #}
    <div class="c-readmore">
      {{ content|without('body')|without('field_services_pictogram') }}
    </div>
    
